@media only screen and (min-width:320px){.header-wrap{padding:0;}
.form-group{display:block;text-align:center;}
}
@media only screen and (min-width:480px){a.tel-num.hidden-xs{display:block!important;}
.form-group{display:block;text-align:center;}
.section-title{font-size:30px;}
.left-line::before{width:100%;}
}
@media only screen and (min-width:640px){a.logo-ico{background-image:url("../img/ico-01.png");height:60px;margin:0 auto;width:217px;}
.header{min-height:100px;}
.header-wrap{padding:12px 0;}
.tel-ico{height:60px;width:60px;top:6px;}
.title{font-size:44px;}
.sub-title,
.section-title{font-size:30px;}
.form-group{display:inline-block;}
.quoted{font-size:28px;margin-top:64px;}
.thumnail{padding:0 10%;}
.form-inline{max-width:100%;}
}
@media only screen and (min-width:768px){.title-group{margin-top:680px;}
.title{font-size:50px;border-width:3px;}
.sub-title,
.section-title{font-size:36px;}
.form-group{display:inline-block;margin:0 12px 12px 12px;}
.left-line::before{width:57%;}
.quoted{font-size:32px;margin-top:120px;}
.thumnail{padding:0;}
}
@media only screen and (min-width:992px){.title-group{margin-top:520px;}
.title{font-size:68px;}
.sub-title,
.section-title{font-size:48px;}
.container .owl-carousel{display:block;padding:0 120px;text-align:center;}
.owl-carousel-wrpr{display:inline-block;}
.quoted{font-size:42px;margin-top:160px;}
.callback-second .greyed{background-image:url("../img/img-04.jpg");}
.callback-third .greyed{background-image:url("../img/img-07.jpg");}
.callback-form{width:100%;background-color:transparent;box-shadow:none;margin-bottom:0;}
.problem .section-title{font-size:36px;font-weight:normal;}
.form-group label{display:none;}
}
@media only screen and (min-width:1200px){.title-group{margin-top:750px;}
.title{font-size:80px;border-width:5px;}
.sub-title,
.section-title{font-size:48px;}
.quoted{font-size:48px;margin-top:232px;}
.container .owl-carousel{padding:0 180px;}
.problem .section-title{font-size:40px;font-weight:normal;}
}